nav {
    padding: 10px;
    // z-index: 1000;
  // position: fixed;
  padding-left: 100px;
  padding-right: 100px;
  
  @media (max-width: 700px) {
    padding-left: 50px;
  padding-right: 50px;
  }
  @media (max-width: 400px) {
   width: 300px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.navbar {
 
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: relative;
color: black;
width: 100%;

@media (max-width: 400px) {
  justify-content:center;
  width: 360px;
}
}
.nav_heading {
  display: flex;
  float: left;
  color: black;
  font-weight: 700;
  font-size: 30px;
  @media (max-width: 700px) {
    font-size: 20px;
  }

  @media (max-width: 550px) {
    font-size: 16px;
  }
   @media (max-width: 400px) {
    display:none;
    
  }
}

.nav_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  
}
nav ul li {
  display: flex;
  margin-right: 10px;
}

nav ul li {
  color: white;
  text-decoration: none;
  font-size: 17px;

  transition: background-color 0.3s;
  @media (max-width: 800px) {
    color: rgb(214, 213, 115);
    padding: 0px 0px;
  }

  @media (max-width: 480px) {
    color: rgb(228, 223, 227);
  }
}

nav ul li Link:hover {
  background-color: #575757;
  border-radius: 5px;
}
.nav_content {

  font-size: 18px;
  padding-right: 30px;
  @media (max-width: 800px) {
    padding: 10px ;
    font-size: 16px;  
  }
  @media (max-width: 600px) {
    padding: 5px ;
     
  }
  @media (max-width: 500px) {
    font-size: 15px;
    padding: 0px ;
  }
}
