.projects-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  @media (max-width: 800px) {
    gap: 40px;
  }
  .heading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.projects-heading{
  
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    color: #25282b;
  
  @media (max-width: 1000px) {
    font-size: 35px;
  }  
  @media (max-width: 800px) {
    font-size: 30px;
  } 
}
    .underline {
      width: 100px;
      height: 4px;
      border-radius: 2px;
      background: #fdc435;
    }
  }
}

.sec_holder {
  display: flex;
  width: 992px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 12px;
  @media (max-width: 1000px) {
    width: 800px;
  }  
  @media (max-width: 800px) {
    width: 600px;
      } 
  @media (max-width: 600px) {
    width: 410px;
      } 
  @media (max-width: 400px) {
    width: 300px;
    flex-direction: column;
    
  } 
  .left-box {
    width: 406px;
       margin: auto;
    gap: 24px;
display: flex;
flex-direction: column;
flex-wrap: wrap;

padding: 20px;
    .heading-sub {
      display: flex;
      font-family: Playfair Display;
      font-weight: 700;
      font-size: 40px;
     color: #25282b;
     flex-wrap: wrap;
     @media (max-width: 1000px) {
      font-size: 30px;
    }  
    @media (max-width: 600px) {
      font-size: 20px;
      
    }
    }
    .projects-content {
      display: flex;
      font-family: Nunito;
      font-weight: 400;
      font-size: 18px;
      color: #828282;
      flex-wrap: wrap;
      @media (max-width: 600px) {
        font-size: 12px;
        
      }
      @media (max-width: 400px) {
        width: 280px;  

      }
    }
    .button-view {
        width: 150px;
        height: 43px;
        border-radius: 24px;
        padding-top: 8px;
        padding-right: 24px;
        padding-bottom: 8px;
        padding-left: 24px;
        border-width: 1px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 600px) {
          width: 100px;
        height: 35px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        } 
      }
  }
  .right-box{
    display: flex;
    
    .right-box-image{
      @media (max-width: 1000px) {
        width: 400px;
      }  
      @media (max-width: 800px) {
        width: auto;
        
      } 
    }
  }
}

